/* MAIN */

h1 {
    font-size: 24px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    align-self: flex-start;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

h4 {
    font-size: 18px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: black;
}


/* IDs */

.appear {
    animation-name: appear;
    animation-duration: 4s;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#loader {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 20px solid #99E2D0;
    border-top: 22px solid #9356DC;
    border-bottom: 22px solid #FF79DA;
    border-radius: 50%;
    width: 20%;
    aspect-ratio: 100/100;
    animation: spin 1.5s linear 2;
    pointer-events: none;
}

@keyframes spin {
    0% {
        opacity: 1;
        transform: rotate(0deg);
    }
    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}

#location {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    gap: 17px;
    height: 50px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15) inset;
}

#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 30px 0px 50px 0px;
    background-color: rgba(246, 246, 246, 1);
}

#intro h1 {
    padding: 0px 50px;
}

#intro span {
    font-size: 18px;
    padding: 0px 30px;
}

#tutorial_zone {
    display: flex;
    justify-content: center;
    width: 100%;
}

#tutorial {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    width: 100%;
    max-width: 1080px;
}

#tutorial_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 25px;
    box-sizing: border-box;
    padding: 0px 10px;
}

#restaurants_zone {
    display: flex;
    justify-content: center;
    background-color: #F6F6F6;
    width: 100%;
}

#restaurants {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    max-width: 1080px;
}

#restaurants_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 18px calc(18px + 1%);
}


/*CLASSES*/

.hidden {
    opacity: 0;
}

.tuto_step {
    display: flex;
    align-items: center;
    flex: 29% 1 0;
    min-width: 300px;
    max-width: 490px;
    height: 72px;
    gap: 20px;
    border-radius: 20px;
    background: rgba(246, 246, 246, 1);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

.tuto_step span {
    font-weight: bold;
}

.dot {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -12px;
    border-radius: 60px;
    background-color: #9356DC;
    color: white;
    font-size: 14px;
    width: 24px;
    height: 24px;
}

.card {
    flex: 45% 1 0;
    min-width: 300px;
    max-height: 250px;
    max-width: 490px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
}

.card_img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    aspect-ratio: 200/100;
    overflow: hidden;
}

.card_info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.card_txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10px;
}

.card span {
    font-size: 17px;
    font-weight: 300;
}

.new_tag {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    position: absolute;
    margin: 20px;
    width: 80px;
    height: 29px;
    color: rgba(0, 135, 102, 1);
    border-radius: 2px;
    background-color: rgba(153, 226, 208, 1);
    font-size: 14px;
}

.material-symbols-outlined {
    margin-right: 20px;
}

.like {
    margin-right:  20px;
    width: 24px;
}

.liked {
    background: linear-gradient(355deg, #9356DC 0%, #FF79DA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* RESPONSIVE */

@media (min-width: 1024px) {
    h1 {
        font-size: 40px;
    }
    #restaurants_list {
        gap: 50px calc(40px + 5%);
    }
}